html, body{
  overflow:hidden;
  position: fixed;
}
button {
    overflow: visible;
    background: url("https://cdn.glitch.com/2cb70ef7-6218-4339-81cd-a524df4eae38%2Fmedbut.png?1509034298742"); 
    background-repeat: no-repeat;
    background-size:150px 150px;
    /*background-color: #889293;  grey */
    border: none;
    color: #fddc4d;
    padding: 75px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}